* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #455974;
}

#canvas {
  outline: 1px solid black;
  background: white;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  padding: 1rem;
}

.canvas-panel {
  height: 100%;
  width: 80%;
  margin-right: 1rem;
}
.settings-panel {
  display: flex;
  flex-direction: column;
  background: #4f6a8f;
  width: 20%;
}

.setting-panel-element {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  color: #efefef;
}

.setting-panel-element:not(:last-child) {
  border-bottom: #202a36 solid 1px;
}

.fg-color-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.fg-color-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fg-color-container:not(:last-child){
  margin-bottom: 0.25rem;
}

.setting-panel-element label {
  font-size: large;
  margin-bottom: 0.25rem;
}

.setting-panel-element input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background: #455974;
  color: whitesmoke;
}

.setting-panel-element input[type="color"] {
  width: 50%;
  border: none;
  border-radius: 4px;
  background: #455974;
  color: whitesmoke;
  margin-right: 0.5rem;
}

.setting-panel-element input[type="range"] {
  width: 100%;
  appearance: none;
  background: #455974;
  cursor: pointer;
  border-radius: 4px;
  padding: 0;
  margin: 0.5rem 0 0 0;
}


.setting-panel-element select {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background: #455974;
  color: whitesmoke;
}

.setting-panel-element button {
  background: #455974;
  padding: 0.25rem 0.5rem;
  border: none;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}
